
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  height: 100vh;
  width: 100%;
  overflow: hidden; 
}

body {
  margin: 0;
  padding: 0;
}


.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}


:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --accent: #aa3bff;
  font: 18px/145% system-ui, sans-serif;
}


.leaflet-popup-content button {
  background: #ffffff;
  border: 1px solid #d1d5db;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 8px;
  transition: all 0.2s;
}

.leaflet-popup-content button:hover {
  background: #f3f4f6;
  border-color: #9ca3af;
}

/* Tombol hapus warna merah */
.leaflet-popup-content button[style*="color:red"] {
  background: #fff1f2;
  border-color: #fecaca;
}